@*
*@
@model Service.DTO.ArtistDto 
@{
    ViewData["Title"] = "Artist Info";
}

<h4>@Model.Name</h4>
<p>@Model.Description</p>
<p><a href="@Model.FacebookLink">@Model.FacebookLink</a></p>
<a href="/artist" class="btn btn-secondary">Back to list</a>
