@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Service.DTO.ArtistDto>
@{
    ViewData["Title"] = "Artists";
}
<div ng-app="clientApp">
    <p>{{1 + 2}}</p>
    @* Angular component for the list of Artists  *@
    <artist-list></artist-list>
    <script src="/lib/angular/angular.js"></script>
    <script src="clientApp.js"></script>
    <script src="services/artist.service.js"></script>
    <script src="components/artist-list/artist-list.component.js"></script>

</div>

